* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    background: #050801;
}

.neon_btn {
    padding: 25px 30px;
    text-decoration: none;
    color: #03e9f4;
    display: inline-block;
    margin: 30px 10px;
    text-transform: uppercase;
    font-size: 15px;
    transition: .8s;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    /*-webkit-box-reflect: below 1px linear-gradient(transparent , #0005);
    -o-box-reflect: below 1px linear-gradient(transparent , #0005);
    -moz-box-reflect: below 1px linear-gradient(transparent , #0005);
    -ms-box-reflect: below 1px linear-gradient(transparent , #0005);
    */
}
/*IF DONT LIKE DIFFERENT COLOR THEN RMOVE OR COMMENT THE TWO CODE BELOW*/
.neon_btn:nth-child(2) {
    filter: hue-rotate(0deg);
}

.neon_btn:nth-child(2) {
    filter: hue-rotate(90deg);
}
.neon_btn:nth-child(3) {
    filter: hue-rotate(180deg);
}
/*TILL HERE*/

.neon_btn:hover {
    background: #03e9f4;
    color:  #050801;
    box-shadow: 0 0 5px #03e9f4 ,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4 ,
                0 0 100px #03e9f4 ;

}

.neon_btn span {
    position: absolute;
    display: block;
}

.neon_btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg , transparent , #03e9f4);
    animation:  a_neon1 1s linear infinite;
}

.neon_btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg , transparent , #03e9f4);
    animation: a_neon2 1s linear infinite;
    animation-delay: .08s;
}

.neon_btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(-90deg , transparent , #03e9f4);
    animation: a_neon3 1s linear infinite;
    animation-delay: 1s;
}


.neon_btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg , transparent , #03e9f4);
    animation: a_neon4 1s linear infinite;
    animation-delay: 1s;
}













@keyframes a_neon1 {
    from{
        left: -100%;
    }
    to{
        left: 100%;
    }
}

@keyframes a_neon2 {
    0% , 50%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}


@keyframes a_neon3 {
    from{
        right: -100%;
    }
    to{
        right: 100%;
    }
}

@keyframes a_neon4 {
    0% , 50%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}
